on: [push]
name: haskell/actions
jobs:
  macos:
    name: MacOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: haskell/actions/setup@v1
      - run: cabal build
      - run: cabal test --test-show-details=direct

  windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: haskell/actions/setup@v1
      - run: cabal build
      - run: cabal test --test-show-details=direct
